@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


tr:hover {background-color: LightGrey;}

#title {
    font-size:50px;
}

img {
  float: right;
}

video {
  float: right;
}


table, td, th {
  border: 1px solid #005A9C;
  text-align: left;
  padding: 8px;
  border-collapse: collapse;
}

h1 {
	color: #4169E1; 
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
	color: #4169E1; 
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
	color: #6495ED;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-style: normal;
	
}

body {
	max-width: 800px;
	margin: auto;
}

body {background-color: #F5F5DC;}

th, td {
	color: #4169E1;
text-align: center;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 20px;
}