<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Srimahitha's About Me</title>
  </head>
  <body>

<nav>
  <ul>
   <li><strong>About Me</strong></li>
   <li><a href="blackbox">3D Modeling and Innovation</a></li>
   <li><a href="screenprint">Screenprinting and Graphic Design</a></li>
   <li><a href="#">Genetics and Cinematography</a></li>
  </ul>
</nav>

<h1 id="title">About Me</h1>
<p>For a lot of my life, I have always been told I am a hard worker. Maybe it is due to my competitive nature, but I have always found myself striving to be the best at everything I do. I believe one of the main qualities that allow me to say this is my drive to pursue any opportunity given to me. Whether it’s working hard to do well at a piano recital, participating in as many competitions as I could fit in my schedule, or going to a school 30 minutes away from where I live for the STEM opportunities, I always have done my best to take every opportunity I can to further my knowledge or just improve as a person.</p>
<p> I also pride myself in the joy I find in helping people. I volunteer at my local library, and I help my classmates understand their math homework. I think this is one of the main reasons why I would like to become a surgeon.</p>
<p>Another reason for my career choice would be my passion for biology. I have a very curious nature, so it is not a surprise that I love studying the life that surrounds us. I love researching those topics, and competing in science fairs and olympiads.</p>
<p>My inquisitive nature also allows me to explore many different hobbies. For one, I really enjoy music. I play piano, violin in the Yale All City Orchestra, and I play bass in my school’s band. I think music is something that can bring people together, and let them share their thoughts in such a beautiful way. I also really enjoy writing, it’s something that has always come rather naturally to me. It was probably because of the books I’ve read, because I really enjoy the classics. I also enjoy painting in my free time, although I do find it very challenging.</p>
<p>I think all of these interests are what make me a hard worker. I’ve learnt determination, teamwork, and so much more just by doing what I love. My interests are what make my the person I am today, and I hope to continue them for as long as I can. </p>