<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Srimahitha's CER</title>
    <link rel="stylesheet" href="style1.css">

  </head>
  <body>
<h1 id="title"> What is the Mystery Black Box Project? </h1>
 <p id="intro">In our New Media and Technology class, we examined the Mystery Black Box, a large black case with a funnel at the top and a pipe coming out the bottom. We do not know what is inside the mystery box, but we did know that something inside the box made it so that if we poured the same amount of water in to the box multiple times, the amount of water that came out was different every time. Our objective was to figure out what makes the box do this.</p1>

<h2>What do I think is in the mystery black box?</h2>
<p>I believe that the mystery black box has tubing going in different directions, leading to a bucket with a siphon at its top side.</p>

<img src="srimahitha_black_box_Render.jpg" alt="A render of our model of the Mystery Black Box, designed in Autodesk Mya." width="350" height="250">
<a href="https://objects.mergeedu.com/link/556GJ1">Link to my AR model</a>
<img src="qr_code.png" alt="QR code to my AR model" width=100>
<h2>Our experiment</h2>
<p>To collect data, we poured water into the funnel and observed how much water came out. We notice that when we pour a specific amount of water, in this case 1000 mL was used, we get various outputs in terms of the amount of water that comes out of the black box. We found that sometimes more than 1000 mL would come out, and sometimes it would be less. There were times when 0 mL of water came out of the box as well.</p>
<img src="IMG_4019.webp" alt="My teamate Saara working on our model." width="300" height="200">
<h2>Our model's data</h2>

<table id="table1">
  <tr>
    <th>Trial</th>
    <th>Volume of water input (mL)</th>
    <th>Volume of water output (mL)</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000</td>
    <td>20</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000</td>
    <td>18</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1000</td>
    <td>20</td>
  </tr>
  <tr>
    <td>4</td>
    <td>1000</td>
    <td>19</td>
  </tr>
  <tr>
    <td>5</td>
    <td>1000</td>
    <td>19</td>
  </tr>
</table>

<img src="IMG_4024.webp" alt="My teamate Jameer working on our model." width="300" height="200">
<h2>Mystery black box data</h2>

<table id="table2">
  <tr>
    <th>Trial</th>
    <th>Volume of water input (mL)</th>
    <th>Volume of water output (mL)</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000</td>
    <td>830</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000</td>
    <td>1300</td>
  </tr>
  <tr>
    <td>3</td>
    <td>100</td>
    <td>1400</td>
  </tr>
  <tr>
    <td>4</td>
    <td>1000</td>
    <td>535</td>
  </tr>
  <tr>
    <td>5</td>
    <td>1000</td>
    <td>1530</td>
  </tr>
</table>

<video width="330" autoplay muted loop>
  <source src="Srimahitha.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<h2>How we designed our model</h2>
<p>Our model of the black box has to explain the variation in the amount of water that comes out. One of the concepts my team included to explain this was the fact that the tube is in a rather strange shape. This means that when there isn’t a direct flow of water through the tube, the water could be held there until we do pour the water in.</p>
<p>Our group also included a bucket, which collects the water from the tubing, with a hole at the top side. The shape of the tubing would explain the reason why we have more water than the amount we pour in at times, because the leftover water in the pipes would flow along with the water we pour, making it seem like more water has appeared. Because of the way we designed the bucket and tubing, the water wouldn’t come out of the bucket until it was completely full, the amount of which is something that can change depending on the amount of times we pour water into the bucket. Additionally, this change is random, which explains how we get random amounts of water coming out of the black box each time.</p>
<p>The data of our model was generally random, similar to that of the black box. I think that if a different claim was correct, the data of the model resulting from that claim would have more variation. While our data did have variation, it only decreased from the amount we poured in. This is probably a result of the excessive leakage of our model. I think that if alternative design was used, the data would have been similar to the black box and include outputs that were both increases and decreases from our inputs.</p>
<img src="IMG_4031.JPG" alt="Our table during the design and building process." width="400" height="300">
<img src="IMG_4514.JPG" alt="A photo of my augmented reality model." width="400" height="300">
<h2> Reflecting on the project</h2>
<p> I think our model was a good reflection of what we saw happen with the Mystery Black Box. While it wasn't a perfect replica, our team did our best to work together to come past obstacles, such as the water leaking, to come to the point where we are now. Another thing we had to tweak and work on throughout this project was this website. I had trouble making tables, adding the hover feature, and making what you are reading right now look presentable and fun. The process was enjoyable too, I loved working with my team and we laughed at the funny mishaps that transpired as we built our model. I also really enjoyed choosing color schemes and fonts for this website.</p>

<h2>How we designed our model</h2>
<p>Our model of the black box has to explain the variation in the amount of water that comes out. One of the concepts my team included to explain this was the fact that the tube is in a rather strange shape. This means that when there isn’t a direct flow of water through the tube, the water could be held there until we do pour the water in.</p>
<p>Our group also included a bucket, which collects the water from the tubing, with a hole at the top side. The shape of the tubing would explain the reason why we have more water than the amount we pour in at times, because the leftover water in the pipes would flow along with the water we pour, making it seem like more water has appeared. Because of the way we designed the bucket and tubing, the water wouldn’t come out of the bucket until it was completely full, the amount of which is something that can change depending on the amount of times we pour water into the bucket. Additionally, this change is random, which explains how we get random amounts of water coming out of the black box each time.</p>
<p>The data of our model was generally random, similar to that of the black box. I think that if a different claim was correct, the data of the model resulting from that claim would have more variation. While our data did have variation, it only decreased from the amount we poured in. This is probably a result of the excessive leakage of our model. I think that if alternative design was used, the data would have been similar to the black box and include outputs that were both increases and decreases from our inputs.</p>
<img src="IMG_4031.webp" alt="Our table during the design and building process." width="400" height="300">
<img src="IMG_4514.JPG" alt="A photo of my augmented reality model." width="400" height="300">
<h2> 21st Century Skills</h2>
<p> I think the skill I used the most in this project was accessing and analyzing information. In the process of the project, we had to analyze the original black box and use tests and data to make predictions. This involved a lot of assessing. Additionally, we had to assess our design at multiple points of the project to get our final result, a better replica of the original black box. This helped us fix any mistakes, improve our design, and better understand what we were doing. I also think I used creativity and innovation. My team members and I had to come up with a design for our replica black box, while knowing so little about it. As a result, we had to really use our creative thinking skills to come up with a model that will have the same results as the black box. We also had to be very innovative throughout the process of the project, as we had to keep fixing any mistakes and improving as we go.</p>

</body>
</html>
